.options {
  color: var(--themeWhite);
  width: 70%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.options-shrink {
  height: 120px;
  padding-bottom: 70px;
}

.options-default {
  height: 200px;
}

.options-button {
  background: linear-gradient(to bottom, var(--themeTeal), 10%, var(--themeTealDark) 100%);
  border-radius: 5px;
  border: 1px solid var(--themeTealDark);
  cursor: pointer;
  color: var(--themeWhite);
  font-size: 15px;
  padding: 6px 24px;
}

.options-button:hover {
  background: linear-gradient(to bottom, var(--themeTealDark) 10%, var(--themeTeal) 100%);
}

.options-button:active {
  position: relative;
  top: 1px;
}

.start-over button {
  margin-top: 60px;
}
